<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Management Console - Article</title>
  <style>
    table {
      border: 1px solid black;
    }

    td {
      border: 1px solid black;
    }

    th {
      border: 1px solid black;
    }

    ul {
      display: inline;
    }

    span.current {
      font-weight:800;
    }
  </style>
</head>
<body>

  <div>
    <h1>ARTICLE MANAGEMENT CONSOLE</h1>
  </div>

  <div>
    <table>
      <tr>
        <th><a href="/manage/console">CONSOLE</a></th>
        <th>ARTICLES</th>
        <th><a href="/manage/console/comment">COMMENTS</a></th>
        <th><a href="/manage/console/account">ACCOUNTS</a></th>
      </tr>
    </table>
  </div>

  <br>

  <div id="articles">
    <div>
      <form action="#" method="post">
        <table>
          <tr>
            <th>ID</th>
            <th>WRITER</th>
            <th>TITLE</th>
            <th>CONTENT</th>
            <th>COMMENTS</th>
            <th>CREATED DATE</th>
            <th>MODIFIED DATE</th>
            <th>HIT</th>
            <th>DELETED</th>
            <th>CHECK</th>
          </tr>

          <tr th:each="article, state: ${articles}">
            <td th:text="${article.id}">0</td>
            <td th:text="${article.writer}">WRITER</td>
            <td><a th:text="${article.title}" th:href="@{/board/read(id=${article.id})}">TITLE</a></td>
            <td th:text="${article.content}">CONTENT</td>
            <td th:text="${commentSizes.get(state.index)}">0</td>
            <td th:text="${article.createdDate}">1970-01-01</td>
            <td th:text="${article.modifiedDate}">1970-01-01</td>
            <td th:text="${article.hit}">0</td>
            <td th:text="${article.deleted}">True</td>
            <td><input type="checkbox" name="target" th:value="${article.id}"></td>
          </tr>
        </table>

        <div>
          <label for="article-operation">MODE</label>
          <select id="article-operation" name="operation">
            <option value="DELETE">DELETE</option>
            <option value="RESTORE">RESTORE</option>
          </select>
          <input type="submit" value="OPERATE">
        </div>
      </form>

      <div th:if="${totalPage > 0}">
        <span th:each="index: ${#numbers.sequence(1, totalPage)}" th:classappend="${index - 1 == currentPage} == true ? 'current' : ''">
          <a th:href="@{/manage/console/article(pageNum=${index - 1},pageSize=${pageSize},keyword=${keyword},mode=${mode})}" th:text="${index}">0</a>
        </span>
      </div>
    </div>

    <br>

    <div>
      <table>
        <tr>
          <td>
            <select name="mode">
<!--              https://springhow.com/thymeleaf-comparators-and-equality/-->
              <option value="WRITER" th:selected="'WRITER' == ${mode}">Writer</option>
              <option value="TITLE" th:selected="'TITLE' == ${mode}">Title</option>
              <option value="CONTENT" th:selected="'CONTENT' == ${mode}">Content</option>
              <option value="TITLE_CONTENT" th:selected="'TITLE_CONTENT' == ${mode}">Title & Content</option>
            </select>
          </td>
          <td>
            <input name="keyword" type="text" th:value="${keyword}" required>
          </td>
          <td>
            <input type="submit" value="SEARCH">
          </td>
          <td>
            <a href="/manage/console/comment">CLEAR</a>
          </td>
        </tr>
      </table>
    </div>
  </div>


</body>
</html>