<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SimpleBBS</title>
</head>
<body>
<form th:action="@{#}" method="post" th:object="${command}">
    <input type="hidden" name="id" th:value="*{id}">
    <table>
        <tr>
            <td><label for="edit-password">Password</label></td>
            <td><input id="edit-password" name="password" type="password" minlength="4" required></td>
            <td><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error String</span></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>

</form>
</body>
</html>