<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit your article.</title>
</head>
<body>
<div>
    <form method="post" action="/board/edit/submit" enctype="multipart/form-data" th:object="${article}">
        <input type="hidden" name="articleID" th:value="${article.id}">
        <table>
            <tr>
                <td>
                    <label for="form-writer">WRITER</label>
                </td>

                <td th:unless="${article.isWrittenByAccount()}">
                    <input id="form-writer" name="writer" type="text" th:value="${article.writer}" readonly>
                </td>
                <td th:if="${article.isWrittenByAccount()}">
                    <span th:text="${article.writer}"></span>
                    <input name="writer" th:value="${article.writer}" hidden>
                </td>
            </tr>
            <tr>
                <td th:unless="${article.isWrittenByAccount()}">
                    <label for="form-password">PASSWORD</label>
                </td>

                <td th:if="${article.isWrittenByAccount()}">
                    <input name="password" value="PASSWORD" hidden>
                </td>
                <td th:unless="${article.isWrittenByAccount()}">
                    <input id="form-password" name="password" type="password" th:value="${article.password}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="form-title">TITLE</label>
                </td>
                <td>
                    <input id="form-title" name="title" type="text" th:value="${#fields.hasErrors('title') == false ? article.title : ''}" maxlength="255" required>
                </td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="${article.title}">Title is not valid.</td>
            </tr>

            <tr>
                <td>
                    <label for="form-content">CONTENT</label>
                </td>
                <td>
                    <textarea id="form-content" name="content" th:text="${#fields.hasErrors('content') == false ? article.content : ''}" maxlength="65535" required></textarea>
                </td>
                <td th:if="${#fields.hasErrors('content')}" th:errors="${article.content}">Content is not valid.</td>
            </tr>

            <tr th:each="resource: ${resources}">
                <td>
                    <label th:for="${'file-'+resource.filename}" th:text="${resource.filename}"></label>
                    <input th:id="${'file-'+resource.filename}"
                           th:name="delete"
                           th:value="${resource.hashedFilename}"
                           type="checkbox" >
                </td>
            </tr>

            <tr>
                <td>
                    <label for="form-files">FILES</label>
                </td>
                <td>
                    <input id="form-files" type="file" name="uploadedFiles" multiple>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
