<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>SimpleBBS - articles</title>
    <style>
        .row {
            border:1px solid black;
        }

        .row.odd {
            background-color:antiquewhite;
        }

        .row.even {
            background-color:white;
        }

        span.current {
            font-weight:800;
        }
    </style>
</head>
<body>
    <h1>Welcome to SimpleBBS</h1>

    <table>
        <tr class="row">
            <th>NO</th><th>TITLE</th><th>WRITER</th><th>COMMENTS</th><th>DATE</th><th>HIT</th>
        </tr>
        <tr class="row" th:each="article, state: ${articles}" th:classappend="${state.odd} == true ? 'odd' : 'even'">
        	<td th:text="${article.getId()}">-</td>
            <!-- https://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
            <td><a th:text="${article.getTitle()}" th:href="@{/board/read(id=${article.getId()})}">TITLE HERE</a></td>
            <td th:text="${article.getWriter()}">WRITER HERE</td>
            <td th:text="${article.getComments()}">COMMENT SIZE HERE</td>
            <td th:text="${article.getCreatedDate()}">CREATED DATE HERE</td>
            <td th:text="${article.getHit()}">HIT VALUE HERE</td>
        </tr>
    </table>

    <div>
        <form th:action="@{/board/list}" method="get">
            <label for="article-size">HOW MANY ARTICLES?</label>
            <select id="article-size" name="pageSize">
                <option th:selected="${10 eq pageSize}">10</option>
                <option th:selected="${20 eq pageSize}">20</option>
                <option th:selected="${30 eq pageSize}">30</option>
                <option th:selected="${40 eq pageSize}">40</option>
            </select>
            <input type="submit" value="CHANGE">
        </form>
    </div>

    <form th:action="@{/board/list}" method="get">
        <input type="hidden" th:value="${currentPage}" name="pageNum">
        <input type="hidden" th:value="${pageSize}" name="pageSize">
        <table>
            <tr>
                <td>
                    <label for="search-mode">Search Mode</label>
                </td>
                <td>
                    <select id="search-mode" name="mode">
                        <option value="WRITER" th:selected="${'WRITER' eq searchMode}">Writer</option>
                        <option value="TITLE" th:selected="${'TITLE' eq searchMode}">Title</option>
                        <option value="CONTENT" th:selected="${'CONTENT' eq searchMode}">Content</option>
                        <option value="TITLE_CONTENT" th:selected="${'TITLE_CONTENT' eq searchMode}">Title & Content</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="search-value">Search Value</label>
                </td>
                <td>
                    <input id="search-value" type="text" name="keyword" th:value="${searchKeyword}" required>
                </td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>

    <div>
        <span><a th:href="@{/board/list}">LIST</a></span>
        <span><a th:href="@{/board/write}">WRITE</a></span>
        <span th:each="link: ${links}" th:object="${link}">
            <a th:text="*{key}" th:href="*{value}">/link/to/destination</a>
        </span>
    </div>

    <div th:if="${totalPages > 0}">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${i - 1 == currentPage} == true ? 'current' : ''">
            <a th:href="@{/board/list(pageNum=${i - 1}, pageSize=${command.pageSize}, keyword=${searchKeyword}, mode=${searchMode})}" th:text="${i}">-</a>
        </span>
    </div>

</body>
</html>