<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>SimpleBBS - articles</title>
    <style>
        .row {
            border:1px solid black;
        }

        .row.odd {
            background-color:antiquewhite;
        }

        .row.even {
            background-color:white;
        }

        span.current {
            font-weight:800;
        }
    </style>
</head>
<body>
    <h1>Welcome to SimpleBBS</h1>

    <table>
        <tr class="row">
            <th>NO</th><th>TITLE</th><th>WRITER</th><th>COMMENTS</th>
        </tr>
        <tr class="row" th:each="article, state: ${articles}" th:classappend="${state.odd} == true ? 'odd' : 'even'">
        	<td th:text="${article.getId()}">-</td>
            <!-- https://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
            <td><a th:text="${article.getTitle()}" th:href="@{/board/read(id=${article.getId()})}">TITLE HERE</a></td>
            <td th:text="${article.getWriter()}">WRITER HERE</td>
            <td th:text="${commentSizes.get(state.index)}">COMMENT SIZE HERE</td>
        </tr>
    </table>

    <form action="/board/search" method="get">
        <table>
            <tr>
                <td>
                    <select name="mode">
                        <option value="WRITER" th:selected="${'WRITER'.equals(searchMode)}">Writer</option>
                        <option value="TITLE" th:selected="${'TITLE'.equals(searchMode)}">Title</option>
                        <option value="CONTENT" th:selected="${'CONTENT'.equals(searchMode) || searchMode == null}">Content</option>
                        <option value="TITLE_CONTENT" th:selected="${'TITLE_CONTENT'.equals(searchMode)}">Title & Content</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="keyword" th:value="${searchKeyword}" required>
                </td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>

    <div>
        <a href="/board/list">LIST</a>
        <a href="/board/write">WRITE</a>
        <a th:href="${#session == null ? '/account/login' : '/account/logout'}"
           th:text="${#session == null ? 'LOGIN' : 'LOGOUT'}">LOGIN/LOGOUT</a>
        <a th:text="${#session == null ? 'REGISTER' : 'WITHDRAW'}"
           th:href="${#session == null ? '/account/register' : '/account/withdraw'}">REGISTER</a>
        <a th:if="${#session != null}" href="/account/manage">MANAGE</a>
    </div>

    <div th:if="${totalPages > 0}">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} == true ? 'current' : ''">
            <a th:href="@{/board/list(pageNum=${i - 1}, pageSize=${command.pageSize})}" th:text="${i}">-</a>
        </span>
    </div>
</body>
</html>