<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.getTitle() + ' - SimpleBBS'}">Title - SimpleBBS</title>
</head>
<body>

<div>
    <div>
        <h1 th:text="${article.getTitle()}">Title</h1>
    </div>
    <div>
        <h3 th:if="${article.isWrittenByAccount}" th:text="${'- [' + article.getWriter() + ']'}">Writer</h3>
        <h3 th:unless="${article.isWrittenByAccount}" th:text="${'-' + article.getWriter()}">Writer</h3>
    </div>

    <div>
        <p th:text="${article.getContent()}">Content</p>
    </div>

    <div>
        <a href="/board/list">List</a>
        <a th:href="@{/board/edit(id=${article.getId()})}">Edit</a>
        <a th:href="@{/board/remove(id=${article.getId()})}">Delete</a>
    </div>

    <form action="/comment/create" method="post">
        <input type="hidden" th:value="${article.getId()}" name="articleID">
        <table>
            <caption>WRITE YOUR COMMENT...</caption>
            <tr>
                <th>WRITER</th><th>PASSWORD</th><th>CONTENT</th>
            </tr>
            <tr>
                <td><input type="text" name="writer" maxlength="64" required></td>
                <td><input type="password" name="password" minlength="4" required></td>
                <td><input type="text" name="content" maxlength="255" required></td>
            </tr>
            <tr><td colspan="3"><input type="submit" value="Submit"></td></tr>
        </table>
    </form>

    <table>
        <caption>COMMENTS</caption>
        <tr><th>NO</th><th>WRITER</th><th>COMMENT</th></tr>
        <tr th:each="comment: ${comments}">
            <td th:text="${comment.getCommentId()}">-</td>
            <td th:text="${comment.getWriter()}">WRITER HERE</td>
            <td th:text="${comment.getContent()}">COMMENT HERE</td>
            <td>
                <form action="/comment/remove" method="get">
                    <input type="hidden" name="id" th:value="${comment.getCommentId()}">
                    <input type="submit" value="DELETE">
                </form>
            </td>
        </tr>
    </table>
    <div th:if="${totalCommentPages > 0}">
        <span th:each="i: ${#numbers.sequence(1, totalCommentPages)}" th:classappend="${i == currentCommentPage} == true ? 'current' : ''">
            <a th:href="@{/board/read(id=${article.getId()}, commentPage=${i - 1})}" th:text="${i}">-</a>
        </span>
    </div>

</div>

</body>
</html>