<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write your article.</title>
</head>
<body>
<div>
    <form method="post" target="/board/write">
        <div>
            <label for="form-writer">WRITER</label>
            <input id="form-writer" name="writer" type="text" required>
        </div>

        <div>
            <label for="form-title">TITLE</label>
            <input id="form-title" name="title" type="text" required>
        </div>

        <div>
            <label for="form-content">CONTENT</label>
            <input id="form-content" name="content" type="text" required>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>

    </form>
</div>
</body>
</html>
