<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Update Information - SimpleBBS</title>
</head>
<body>

<h1 th:text="|CHANGE ACCOUNT INFORMATION - ${command.mode}|"></h1>

<form th:action="@{/account/manage/change}" method="post" th:object="${command}">
    <table>
        <input type="hidden" name="mode" th:value="*{mode}" readonly required>
        <tr>
            <th colspan="2"><label for="form-auth">AUTHENTICATION(Type your password again)</label></th>
        </tr>
        <tr>
            <td colspan="2"><input id="form-auth" type="password" name="auth" required></td>
            <td><span th:if="${#fields.hasErrors('auth')}" th:errors="*{auth}">Authentication error message.</span></td>
        </tr>
        <tr>
            <th><label for="form-previous">PREVIOUS VALUE</label></th>
            <th><label for="form-new">NEW VALUE</label></th>
        </tr>
        <tr>
            <td><input id="form-previous" name="previous" th:value="${previousValue}" readonly></td>
            <td th:switch="*{mode.name()}">
                <input th:case="'password'" id="form-new" type="password" name="updated" required>
                <input th:case="'email'" id="form-new" type="email" name="updated" required>
                <input th:case="'username'" id="form-new" type="text" name="updated" required>
                <input th:case="'question'" id="form-new" type="text" name="updated" required>
                <input th:case="'answer'" id="form-new" type="text" name="updated" required>
            </td>
            <td th:if="${#fields.hasErrors('updated')}" th:errors="*{updated}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="CHANGE"></td>
        </tr>
    </table>
</form>

</body>
</html>