<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Account Information - SimpleBBS</title>
    <style>
        span.current {
            font-weight:800;
        }
    </style>

</head>
<body>

<div>
    <div id="account-info" th:object="${userInfo}">
        <div>
            <h1 th:text="|Hello, *{username}|">Hello, USERNAME</h1>
            <ul th:if="${levels}">
                <li th:each="level: ${levels}" th:text="${level}">ACCOUNT LEVEL HERE</li>
            </ul>
        </div>
        <div>
            <table>
                <tr>
                    <td><span th:text="|Username: *{username}|">Username: USERNAME</span></td>
                    <td><a th:href="@{/account/manage/change(mode=username)}">CHANGE</a></td>
                </tr>

                <tr>
                    <td><span th:text="|UserID: *{userId}|">UserID: USERID</span></td>
                </tr>

                <tr>
                    <td><span>Password: ********</span></td>
                    <td><a th:href="@{/account/manage/change(mode=password)}">CHANGE</a></td>
                </tr>

                <tr>
                    <td><span th:text="|Registered Date: *{registeredDate}|">Registered Date: 0000-00-00</span></td>
                </tr>

                <tr>
                    <td><span th:text="|EMAIL: *{email}|">Your EMAIL: -</span></td>
                    <td><a th:href="@{/account/manage/change(mode=email)}">CHANGE</a></td>
                </tr>

                <tr>
                    <td><span th:text="|Account Restore Question: *{getRecoveryQuestion}|">Question</span></td>
                    <td><a th:href="@{/account/manage/change(mode=question)}">CHANGE</a></td>
                </tr>

                <tr>
                    <td><span th:text="|Account Restore Answer: *{getRecoveryAnswer}|">Answer</span></td>
                    <td><a th:href="@{/account/manage/change(mode=answer)}">CHANGE</a></td>
                </tr>
            </table>
        </div>
        <div>
            <a href="/board/list">LIST</a>
            <a href="/account/logout">LOGOUT</a>
            <a href="/account/withdraw">WITHDRAW</a>
        </div>
    </div>
<hr>
    <div id="written-articles">
        <table>
            <caption>WRITTEN ARTICLES</caption>
            <tr>
                <th>ID</th><th>TITLE</th>
            </tr>
            <tr th:each="article: ${articles}">
                <td>
                    <span th:text="${article.id}">0</span>
                </td>
                <td>
                    <a th:href="@{/board/read(id=${article.id})}" th:text="${article.title}">-</a>
                </td>
            </tr>
        </table>

        <div th:if="${articlePages > 1}">
            <span th:each="page: ${#numbers.sequence(1, articlePages)}">
                <a th:href="@{/account/manage(articlePage=${page - 1}, commentPage=${currentCommentPage})}"
                   th:text="${page}"
                   th:classappend="${page == currentArticlePage ? 'current' : ''}"></a>
            </span>
        </div>
    </div>
<hr>
    <div id="written-comments">
        <table>
            <caption>WRITTEN COMMENTS</caption>
            <tr>
                <th>ARTICLE</th><th>COMMENT</th>
            </tr>
            <tr th:each="comment: ${comments}">
                <td>
                    <span th:text="${comment.getArticleId}">0</span>
                </td>
                <td>
                    <a th:href="@{/board/read(id=${comment.getArticleId})}" th:text="${comment.content}"></a>
                </td>
            </tr>
        </table>

        <div th:if="${commentPages > 1}">
            <span th:each="page: ${#numbers.sequence(1, commentPages)}">
                <a th:href="@{/account/manage(articlePage=${currentArticlePage}, commentPage=${page - 1})}"
                   th:text="${page}"
                   th:classappend="${page == currentCommentPage ? 'current' : ''}"></a>
            </span>
        </div>
    </div>
</div>
</body>
</html>