<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Delete Account - SimpleBBS</title>
</head>
<body>

<h1>ACCOUNT WITHDRAWAL</h1>

<form th:action="@{/account/withdraw}" method="post">
    <table>
        <tr>
            <td><label for="password-form">PASSWORD</label></td>
            <td><input id="password-form" name="password" type="password" required></td>
            <td><span th:if="${#fields.hasErrors('password')}" th:errors="${password}">Password Error Message</span></td>
        </tr>
        <tr>
            <td><input type="submit" value="Withdraw"></td>
        </tr>
    </table>
</form>

</body>
</html>